#jinja2: trim_blocks: False
{%- import (role_path + "/../../docker/templates/systemd/container.service")|relpath(playbook_dir) as service with context -%}
{{ service.All(keycloak) }}
